# Dependencies
node_modules

# Build
dist
*.local

# Environment
.env
.env.local
.env.*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor / OS
.DS_Store
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json

# Cache
.vite
*.tsbuildinfo
